<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Workouts</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="../static/css/workouts.css"
	  th:href="@{css/workouts.css}" rel="stylesheet" media="screen"/>
	<link href="http://cdn/jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
		  th:href="@{/webjars/bootstrap/3.3.4/css/boostrap.min.css}" rel="stylesheet" media ="sceen"/>
	
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
			th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
	<div class="jumbotron">
		<!--  <img src="../static/images/"-->
		<h1>Workout App</h1>
		<h2>You can use this app to record your climbing workouts</h2>
	</div>
</div>
</body>
</html>